header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    background-color: #f0bfe2;
}


li {
    cursor:pointer;
    margin-left: 2rem;
    text-transform: uppercase;
    color: gray;
}